// Mixins
// ========================================================================
.uk-text-muted a {
  color: $global-muted-color;
}

.uk-offcanvas-bar .uk-navbar-item {
  min-height: 50px;
  justify-content: flex-start;
}