# Integration and end to end tests which runs locally and deploys the Operator to a Kubernetes
# (Minikube) cluster and creates custom resources to verify the operator's functionality
name: End to End tests
on:
  pull_request:
    paths-ignore:
      - 'docs/**'
      - 'adr/**'
    branches: [ main, next ]
  push:
    paths-ignore:
      - 'docs/**'
      - 'adr/**'
    branches:
      - main
      - next
      - v5.3

jobs:
  sample_operators_tests:
    strategy:
      matrix:
        sample:
          - "sample-operators/mysql-schema"
          - "sample-operators/tomcat-operator"
          - "sample-operators/webpage"
          - "sample-operators/leader-election"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Minikube-Kubernetes
        uses: manusa/actions-setup-minikube@v2.14.0
        with:
          minikube version: v1.36.0
          # Use the latest versions supported by minikube, otherwise GitHub it will
          # end up in a throttling requests from minikube and workflow will fail.
          # Minikube does such requests only if a version is not officially supported.
          kubernetes version: v1.33.1
          github token: ${{ secrets.GITHUB_TOKEN }}
          driver: docker

      - name: Set up Java and Maven
        uses: actions/setup-java@v5
        with:
          java-version: 25
          distribution: temurin
          cache: 'maven'

      - name: Build SDK
        run: mvn install -DskipTests

      - name: Run integration tests in local mode
        run: |
          mvn test -P end-to-end-tests -pl ${{ matrix.sample }}

      - name: Run E2E tests as a deployment
        run: |
          eval $(minikube -p minikube docker-env)
          mvn jib:dockerBuild test -P end-to-end-tests -Dtest.deployment=remote -pl ${{ matrix.sample }}
