name: Parameterized Integration Tests

on:
  workflow_call:
    inputs:
      java-version:
        type: string
        required: true
      kube-version:
        type: string
        required: true
      http-client:
        type: string
        required: false
        default: 'vertx'
      experimental:
        type: boolean
        required: false
        default: false
      checkout-ref:
        type: string
        required: false
        default: ''

jobs:
  integration_tests:
    name: Integration tests (${{ inputs.java-version }}, ${{ inputs.kube-version }}, ${{ inputs.http-client }})
    runs-on: ubuntu-latest
    continue-on-error: ${{ inputs.experimental }}
    timeout-minutes: 40
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ inputs.checkout-ref }}
      - name: Set up Java and Maven
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: ${{ inputs.java-version }}
          cache: 'maven'
      - name: Set up Minikube
        uses: manusa/actions-setup-minikube@v2.14.0
        with:
          minikube version: 'v1.36.0'
          kubernetes version: '${{ inputs.kube-version }}'
          github token: ${{ github.token }}

      - name: "${{inputs.it-category}} integration tests (kube: ${{ inputs.kube-version }} / java: ${{ inputs.java-version }} / client: ${{ inputs.http-client }})"
        run: |
          if [ -z "${{inputs.it-category}}" ]; then
            it_profile="integration-tests"
          else
            it_profile="integration-tests-${{inputs.it-category}}"
          fi
          echo "Using profile: ${it_profile}"
          ./mvnw ${MAVEN_ARGS} -T1C -B install -DskipTests -Pno-apt --file pom.xml
          ./mvnw ${MAVEN_ARGS} -T1C -B package -P${it_profile} -Dfabric8-httpclient-impl.name=${{inputs.http-client}} --file pom.xml

      - name: Upload performance test results
        uses: actions/upload-artifact@v4
        with:
          name: performance-results-java${{ inputs.java-version }}-k8s${{ inputs.kube-version }}-${{ inputs.http-client }}
          path: operator-framework/target/performance_test_result.json
          if-no-files-found: ignore
