name: Verify Pull Request
on:
  pull_request:
    branches: [ master ]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [11, 15]
        kubernetes: ['v1.17.13','v1.18.12','v1.19.4']
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Set up Java and Maven
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java }}
      - name: Check code format
        run: mvn fmt:check --file pom.xml
      - name: Run unit tests
        run: mvn -B test --file pom.xml
      - name: Set up Minikube
        uses: manusa/actions-setup-minikube@v2.4.2
        with:
          minikube version: 'v1.15.1'
          kubernetes version: ${{ matrix.kubernetes }}
          driver: 'docker'
      - name: Run integration tests
        run: mvn -B package -P no-unit-tests --file pom.xml

