name: Verify Pull Request

env:
  MAVEN_ARGS: -V -ntp -e

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true
on:
  pull_request:
    paths-ignore:
      - 'docs/**'
      - 'adr/**'
    branches: [ main, v1, v2, v3, next ]
  workflow_dispatch:
jobs:
  check_format_and_unit_tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Java and Maven
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 17
          cache: 'maven'
      - name: Check code format
        run: |
          ./mvnw ${MAVEN_ARGS} formatter:validate -Dconfigfile=$PWD/contributing/eclipse-google-style.xml -pl '!operator-framework-bom' --file pom.xml
          ./mvnw ${MAVEN_ARGS} impsort:check -pl '!operator-framework-bom' --file pom.xml
      - name: Run unit tests
        run: ./mvnw ${MAVEN_ARGS} -B test --file pom.xml

  integration_tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ 11, 17 ]
        kubernetes: [ 'v1.23.15', 'v1.24.9', 'v1.25.5', '1.26.0' ]
    steps:
      - uses: actions/checkout@v3
      - name: Set up Java and Maven
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: ${{ matrix.java }}
          cache: 'maven'
      - name: Set up Minikube
        uses: manusa/actions-setup-minikube@v2.7.2
        with:
          minikube version: 'v1.26.0'
          kubernetes version: ${{ matrix.kubernetes }}
          driver: 'docker'
          github token: ${{ secrets.GITHUB_TOKEN }}
      - name: Run integration tests
        run: ./mvnw ${MAVEN_ARGS} -B package -P no-unit-tests --file pom.xml
  special_integration_tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ 11, 17 ]
        kubernetes: [ 'v1.23.15', 'v1.24.9', 'v1.25.5', '1.26.0' ]
    steps:
      - uses: actions/checkout@v3
      - name: Set up Java and Maven
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: ${{ matrix.java }}
          cache: 'maven'
      - name: Minikube Min Request Timeout Setting
        uses: manusa/actions-setup-minikube@v2.7.2
        with:
          minikube version: 'v1.26.0'
          kubernetes version: ${{ matrix.kubernetes }}
          driver: 'docker'
          start args: '--extra-config=apiserver.min-request-timeout=3'
          github token: ${{ secrets.GITHUB_TOKEN }}
      - name: Run Special Integration Tests
        run: ./mvnw ${MAVEN_ARGS} -B package -P minimal-watch-timeout-dependent-it --file pom.xml