name: Verify Pull Request

env:
  MAVEN_ARGS: -V -ntp -e

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true
on:
  pull_request:
    paths-ignore:
      - 'docs/**'
      - 'adr/**'
    branches: [ main, v1, v2, v3, next ]
  workflow_dispatch:
jobs:
  check_format_and_unit_tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Java and Maven
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 25
          cache: 'maven'
      - name: Check code format
        run: |
          ./mvnw ${MAVEN_ARGS} spotless:check --file pom.xml
      - name: Run unit tests
        run: ./mvnw ${MAVEN_ARGS} clean install -Pno-apt --file pom.xml

  build:
    uses: ./.github/workflows/build.yml
