name: Release project in specified directory

on:
  workflow_call:
    inputs:
      project_dir:
        type: string
        required: true
      version_branch:
        type: string
        required: true

env:
#  set the target pom to use the input directory as root
  MAVEN_ARGS: -V -ntp -e -f ${{ inputs.project_dir }}/pom.xml

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout "${{inputs.version_branch}}" branch
        uses: actions/checkout@v6
        with:
          ref: "${{inputs.version_branch}}"

      - name: Set up Java and Maven
        uses: actions/setup-java@v5
        with:
          java-version: 17
          distribution: temurin
          cache: 'maven'
          server-id: central
          server-username: MAVEN_USERNAME
          server-password: MAVEN_CENTRAL_TOKEN
          gpg-private-key: ${{ secrets.GPG_PRIVATE_KEY }}
          gpg-passphrase: MAVEN_GPG_PASSPHRASE

      - name: Change version to release version
        # Assume that RELEASE_VERSION will have form like: "v1.0.1". So we cut the "v"
        run: |
          mvn ${MAVEN_ARGS} versions:set -DnewVersion="${RELEASE_VERSION:1}" versions:commit -DprocessAllModules
        env:
          RELEASE_VERSION: ${{ github.event.release.tag_name }}

      - name: Publish to Apache Maven Central
        run: mvn package deploy -Prelease
        env:
          MAVEN_USERNAME: ${{ secrets.NEXUS_USERNAME }}
          MAVEN_CENTRAL_TOKEN: ${{ secrets.NEXUS_PASSWORD }}
          MAVEN_GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}

  # This is separate job because there were issues with git after release step, was not able to commit changes.
  update-working-version:
    runs-on: ubuntu-latest
    needs: publish
    if: "!contains(github.event.release.tag_name, 'RC')" # not sure we should keep this the RC part
    steps:
      - name: Checkout "${{inputs.version_branch}}" branch
        uses: actions/checkout@v6
        with:
          ref: "${{inputs.version_branch}}"

      - name: Set up Java and Maven
        uses: actions/setup-java@v5
        with:
          java-version: 17
          distribution: temurin
          cache: 'maven'

      - name: Update version to new SNAPSHOT version
        run: |
          mvn ${MAVEN_ARGS} build-helper:parse-version versions:set -DnewVersion=\${parsedVersion.majorVersion}.\${parsedVersion.minorVersion}.\${parsedVersion.nextIncrementalVersion}-SNAPSHOT versions:commit -DprocessAllModules
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git commit -m "Set new SNAPSHOT version into pom files." -a
        env:
          RELEASE_VERSION: ${{ github.event.release.tag_name }}

      - name: Push changes to branch
        uses: ad-m/github-push-action@master
        with:
          branch: "${{inputs.version_branch}}"
          github_token: ${{ secrets.GITHUB_TOKEN }}
